<div class="bg-primary pl-1 pt-1 pr-1 pb-1 text-xs-center">
    <a class="navbar-brand text-light">SPORTS STORE</a>
    
    <button class="btn btn-sm bg-inverse float-right ml-2" routerLink="/admin" >
        <fa-icon [icon]="faGear"></fa-icon>
    </button>
    <cart-summary></cart-summary>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-info pa-1 text-light">
            {{Categories.length}} Categories
        </div>

        <div class="col-9 bg-white pa-1">
            {{ProductsPerPage.length}} Products of {{TotalProductsCount}}
            <div class="btn-group float-right">
                <button  *counter="let page of pageCount" (click)="changePage(page)" class="btn btn-outline-primary"
                    [class.active]="page == selectedPage">
                    {{page}}
                </button>
            </div> 
            <div class="float-right">
                <select #itemsPerPageElement class="form-control" [value]="productsPerPageCount" (change)="changePageSize(itemsPerPageElement.value)">
                    <option value="3">3 per Page</option>
                    <option value="4">4 per Page</option>
                    <option value="6">6 per Page</option>
                    <option value="8">8 per Page</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <button class="btn btn-block btn-outline-primary" [class.active]="selectedCategory == null" (click)="changeCategory()">
                All
            </button>
            <button *ngFor="let category of Categories" class="btn btn-outline-secondary btn-block"
                [class.active]="category == selectedCategory" (click)="changeCategory(category)">
                {{category}}
            </button>
        </div>
        <div class="col-9 pa-1">
            <div *ngFor="let product of ProductsPerPage" class="card card-outline-primary  mt-2">
                <h5 class="card-header pt-1 pb-1">
                    {{product.name}}
                    <button class="btn-outline-success btn-sm float-right ml-2" (click)="addProductToCart(product)">
                        Add To Cart
                    </button>
                    <span class="badge badge-info float-right">
                        {{ product.price | currency:"USD":true:"2.2-2" }}
                    </span>
                   
                </h5>
                <div class="card-text pl-4">{{product.description}}</div>
               
            </div>
        </div>
    </div>
</div>
